# Puerto en el que se ejecutará el servidor (puerto 3030 solicitado)
PORT=3030

# Datos de Conexión a tu Base de Datos PostgreSQL local
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=041099
DB_DATABASE=credencializacion

# URL de conexión directa (si tu usuario postgres NO tiene contraseña):
DATABASE_URL="postgresql://postgres@localhost:5432/credencializacion"

# Si tu usuario postgres SÍ tiene contraseña (ej. tu_password), usa esta línea en su lugar:
# DATABASE_URL="postgresql://postgres:tu_password@localhost:5432/credencializacion"
